#logForm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 2px; */
}

#signUpForm {
    display: none;
    justify-content: center;
    align-items: center;
}

.logDirect {
    font-weight: 700;
    cursor: pointer;
}



hr {
    height: 10px;
}

.orDiv {
    justify-content: space-around;
    height: 60px;
    margin-top: -10px;
}

.hrDiv {
    width: 30%;
}

form {
    padding: 0px 150px;
}




.signUp_In {
    background-color: #ee5e20;
    color: whitesmoke;
    border: none;
    height: 40px;
}
.active {
    scale: 0.9;
}


/* .signUpBtn:active,
.signInBtn:active {
} */

input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 90%;
    border-radius: 10px;
    font-size: 13px;
    text-indent: 10px;
    height: 95%;
}

.input-group {
    width: 100%;
    position: relative;
    border: 1px solid #5e5d5ca8;
    border-radius: 10px;
    height: 40px;
    /* box-shadow: 2px 2px 3px gray; */
}

label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -1px;
    font-size: 14px;
}

.inputB,
.inputB2,
.inputB3,
.inputB4,
.inputB5 {
    border: 2px solid rgb(255, 30, 0);
}

.bgChanger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 99;
}

#light {
    width: 100%;
    height: 100%;
    background-image: url(img/nightmode-svgrepo-com.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: none;
    transition: 1s;
}

#dark {
    width: 100%;
    height: 100%;
    background-image: url(img/light-mode-svgrepo-com.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: 1s;
}

.dashBg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    right: 20px;
}
#dark:hover, #light:hover {
    transform: rotate(360deg);
}


body.light-mode,
label.light-mode {
    transition: 0.9s;
    background-color: whitesmoke;
    color: rgb(32, 32, 32);
}

input.light-mode {
    color: rgb(32, 32, 32);
    background-color: transparent;
    text-decoration: none;
}

a.light-mode {
    color: rgb(32, 32, 32);
    background-color: transparent;
    text-decoration: none;

}

li{
    list-style: none;
}

body.dark-mode,
label.dark-mode {
    transition: 0.9s;
    background-color: rgb(32, 32, 32);
    color: white;
}

input.dark-mode {
    background-color: transparent;
    color: white;
}

a.dark-mode {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

#showPassBtn,
#showPassBtnLog {
    background-color: transparent;
    width: 10%;
    height: 100%;
}

#show,
#show2,
#showLog {
    background-image: url(img/eye-closed-svgrepo-com\ \(1\).svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 100%;
    height: 100%;
    display: none;
}

#hide,
#hide2,
#hideLog {
    background-image: url(img/eye-open-svgrepo-com\ \(1\).svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}

#firstNameError,
#lastNameError,
#emailUpError,
#passwordUpError,
#comPasswordUpError,
#passwordError,
#emailError {
    width: 100%;
    height: 10px;
    color: rgb(255, 30, 0);
    font-size: small;
    font-weight: 600;
    font-style: italic;
}



.socialBtnG,
.socialBtnF,
.socialBtnX {

    width: 10%;
    height: 90%;
    background-color: #5e5d5ca8;
    border: none;
    box-shadow: 5px 3px 5px rgb(87, 86, 86);
    border-radius: 10px;
    background-image: url(img/google-svgrepo-com\ \(1\).svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.socialActive {
    box-shadow: none;
    scale: 0, 7;
}

.socialBtnF {
    background-image: url(img/facebook-1-svgrepo-com.svg);
}

.socialBtnX {
    background-size: 45%;
    background-image: url(img/svgexport-1.svg);
}


.socialBtnCon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    /* background-color: aliceblue; */

}

#throwError {
    color: rgb(255, 30, 0);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 15px;
    font-style: italic;
}

#con{
    transition: 1s;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(42, 44, 48, 0.452);
    position: absolute;
    top: 0px;
    display: none;
    z-index: 19999;
}
#loaderCon {
    transition: 1s;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(42, 44, 48, 0.452);
    position: absolute;
    top: 0px;
    display: none;
    z-index: 19999;
}

#house {
    background-color: rgb(97, 96, 96);
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rotate {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    animation: rotateDiv 1.4s infinite linear;
    gap: 5px;

}

.spaned1 {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}

#forgetPass {
    position: relative;
    top: -10px;
    text-indent: 10px;
    font-weight: 700;
    font-size: 17px;
    color: #ee7220f5;
}

@keyframes rotateDiv {
    0% {
        rotate: 0deg;
        scale: 1.2;
    }

    100% {
        rotate: 360deg;
        scale: 0.5;
    }

}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(80, 82, 87, 0.26);
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 99;
}



.alltodo {
    margin-top: 90px;
}

.searchBar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    cursor: pointer;
    /* margin-right: 200px; */
}

.searchBarSm_N {
    width: 95%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #a8a8a8a8;
    transition: 400ms;
}

.searchBarSm_L {
    transition: 400ms;
    width: 95%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #2e2d2da8;
}

.searchInput {
    display: none;
    height: 100%;
    border: none;
    outline: none;
}

.searchInputSm {
    width: 89%;
    display: block;
    outline: none;
    background-color: transparent;
}

.searchBtn {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor:context-menu ;
}

.buttonSm_L {
    width: 7%;
    height: 90%;
    background-color: transparent;
    background-image: url(img/search-alt-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    cursor:context-menu ;
    /* cursor: ; */
}

.buttonSm_N {
    width: 7%;
    height: 90%;
    background-color: transparent;
    background-image: url(img/search-light-mode.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
/* background-color: antiquewhite; */
}

.cancelCon {
    /* background-color: #ee5e20; */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    /* margin-left: 200px; */
    overflow: hidden;
    transition: 400ms;
    gap: 10px;
}

.cancelConSm {
    /* background-color: #ee5e20; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    /* margin-left: 200px; */
    cursor: pointer;
}

.cancelBtn {
    display: none;
}

.utiCon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    /* background-color: #ee5e20; */
    gap: 20px;
}


.ulCon {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
    height: 100%;
    /* background-color: aquamarine; */
}

.conForSearch_bgChanger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
}


.logo {
    /* background-color: aliceblue; */
    width: 40%;
    font-weight: 800;
    /* font-size: 2em; */
    /* height: 100%; */
}
.hbIcon input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .hbIcon {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
  }
  
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
  }
  
  .checkmark span {
    width: 36px;
    height: 3px;
    background-color: black;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 50px;
  }
  
  .checkmark span:nth-child(1) {
    top: 10%;
  }
  
  .checkmark span:nth-child(2) {
    top: 50%;
  }
  
  .checkmark span:nth-child(3) {
    top: 90%;
  }
  
  .hbIcon input:checked + .checkmark span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
  }
  
  .hbIcon input:checked + .checkmark span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
  }
  
  .hbIcon input:checked + .checkmark span:nth-child(3) {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
  }


  .sideBar{
    position: fixed;
    backdrop-filter: blur(70px) saturate(180%);
    -webkit-backdrop-filter: blur(70px) saturate(180%);
    background-color: rgba(80, 82, 87, 0.26);
    width: 300px;
    height: 80%;
    top: 70px;
    left:-300px;
    transition: 0.3s;
}

.btnSmall{
    width: 80%;
    height: 80%;
    background-color: #0d0d0d;
    border-radius: 50%;
    border: 0px;
    color: white;
    text-align: center;
    z-index: 22;
    
}

.btnSmallDiv{
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.btnDesign{
    background-color: #636060;
    width: 100%;
    height: 100%;
    /* z-index: 999; */
}

.btnAddDiv{
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /* border-bottom:3px solid ; */
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .btnAddDiv::before{
    content: "";
    width: 80px;
    height: 80px;
    background-color: white;
    z-index: 9;
    position: fixed;
b                   order-radius: 50%;
    /* border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%; */
    /* bottom: 10px; */

/* }  */


.checkbox-wrapper *,
  .checkbox-wrapper *::before,
  .checkbox-wrapper *::after {
  box-sizing: border-box;
}

.checkbox-wrapper .checkbox-container {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.checkbox-wrapper input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  
  border-color: green;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 4px solid green;
  border-radius: 6px;
  transition: all 0.375s;
}

/* From Uiverse.io by aaronross1 */ 
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.editBtnDone {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(113, 212, 67);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


.editBtnDone::before {
    content: "Edited";
    color: white;
    font-size: 2px;
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* From Uiverse.io by aaronross1 */ 
.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  .deleteBtnDone {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  
  .deleteBtnDone::before {
    content: "Deleted";
    font-size: 2px;
    color: white;
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }

  section{
      /* overflow: hidden; */
      padding-bottom: 80px;
  }

  .todoLgBtn{
    position: fixed;
    right: 50px;
    top: 50%;
  }

  .showAllTodo{
    width: 50%;
    height: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow-y: scroll; */
  }

  .allTodoCon{
    width: 100%;
    height: auto;
    /* background: #000; */
  }

  .titelCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #b1aeae;
    padding: 0px 10px;
    border-bottom:1px solid #0d0d0d;
  }
  .edDeBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
    background: transparent;
}

.jobTitle{
    display: flex;
    /* justify-content: start; */
    align-items: center;
    width: 40%;
    height: 100%;
    /* background: #000; */
    gap: 10px;
    
}
.timeBtnCon{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 35%;
    height: 100%;
}

.titleDiv{
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.titleDiv div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* background-color: tomato; */
}

.descripDiv{
    width: 100%;
    height: 30px ;
    background: #b1aeae;
    padding: 0px 10px;
    text-wrap:wrap;
    overflow: hidden;


}

.descripDiv div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-break:break-all;

}

::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 870px) {
    form {
        padding: 0px 30px;
        margin-top: 50px;
    }

    
    
    .socialBtnG,
    .socialBtnF,
    .socialBtnX {

        width: 15%;
        background-color: transparent;
        border: none;
        box-shadow: 5px 3px 5px rgb(87, 86, 86);
        height: 90%;
        border: 1px solid #5e5d5ca8;
    }


    .socialBtnF {
        background-image: url(img/facebook-1-svgrepo-com.svg);
    }

    .socialBtnX {
        background-image: url(img/svgexport-1.svg);
    }

    .socialActive {
        box-shadow: none;
        scale: 0, 7;

    }

    .logText h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .logText {
        position: relative;
        top: -30px;
    }

    .orDiv {
        justify-content: space-around;
        align-items: center;
        height: 60px;
        margin-top: 0px;
        padding: 0px 1px;
    }

    .hrDiv {
        width: 20%;
    }


    .navBar {
        height: 70px;
        padding: 0px 10px;
    }

    .utiCon {

        height: 100%;
        width: 40%;
        /* margin-left: 10px; */
        /* background-color: #ee5e20; */
        gap: 30px;
        justify-content: start;
        align-items: center;
    }

    .utiConSm {
        display: none;

    }

    .searchBar {
        margin: 0;
        width: 45px;
        height: 45px;
        /* background-color: #ee5e20; */
    }

    .searchBarSm_N {
        width: 80%;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #a8a8a8a8;
        transition: 400ms;
    }

    .searchBarSm_L {
        transition: 400ms;
        width: 80%;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #2e2d2da8;
    }


    .searchInput {
        display: none;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .searchInputSm {
        width: 87%;
        display: block;
        outline: none;
        background-color: transparent;
    }

    .conForSearch_bgChanger {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    /* background-color: #ee7220f5; */
    }


    .buttonSm {
        width: 10%;
        height: 80%;
        background:  black;
    }

    .cancelCon {
        /* background-color: #dd9d82; */
        width: 16%;
        gap: 5px;
        /* margin-left: 200px; */
        transition: 100ms;
    }

    .cancelConSm {
        /* background-color: #ee5e20; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        /* margin-left: 200px; */
    }


    .logo {
        /* background-color: aliceblue; */
        width: auto;
        font-weight: 600;
        font-size: 1.6em;
        height: auto;
        letter-spacing: 1px;
    }

   






    .dashBg {
        width: 40px;
        height: 40px;
        z-index: 99;
        position: static;
        /* background-color: aliceblue; */
    }

    .dashBgSm {
        display: none;
    }
    
    .ulConSb {
        width: 100%;
        overflow: hidden;
    }
    section{
        padding: 0px 30px;
        padding-bottom: 150px;
        /* margin-bottom: 150px; */
        
    }
    
    .showAllTodo{
        width: 100%;
        height: 100%;
        gap: 20px;
        /* overflow-y: scroll; */
      }
      
    .edDeBtn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 35%;
        height: 100%;
        background: transparent;
    }
    
}