#logForm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 2px; */
}

#signUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logDirect {
    font-weight: 700;
    cursor: pointer;
}



hr {
    height: 10px;
}

.orDiv {
    justify-content: space-around;
    height: 60px;
    margin-top: -10px;
}

.hrDiv {
    width: 30%;
}

form {
    padding: 0px 150px;
}




.signUpBtn,
.signInBtn {
    background-color: #ee5e20;
    color: whitesmoke;
    border: none;
    height: 40px;
}
.signUpBtn:active,
.signInBtn:active {
    background-color: #ee5e20e1;
    color: whitesmoke;
    border: none;
    scale: 0.9;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 90%;
    border-radius: 10px;
    font-size: 13px;
    text-indent: 10px;
    height: 95%;
}

.input-group {
    width: 100%;
    position: relative;
    border: 1px solid #5e5d5ca8;
    border-radius: 10px;
    height: 40px;
}

label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -1px;
    font-size: 14px;
}

.inputB,
.inputB2,
.inputB3,
.inputB4,
.inputB5 {
    border: 2px solid rgb(255, 30, 0);
}

#bgChanger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 99;
}
#light{
    width: 100%;
    height: 100%;
    background-image: url(img/light-mode-svgrepo-com\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: none;
}
#dark{
    width: 100%;
    height: 100%;
    background-image: url(img/light-mode-svgrepo-com.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}


body.light-mode,
input.light-mode,
label.light-mode {
    transition: 0.9s ;
    background-color: whitesmoke;
    color: rgb(32, 32, 32);
}


body.dark-mode,
input.dark-mode,
label.dark-mode {
    transition: 0.9s ;
    background-color: rgb(32, 32, 32);
    color: white;
}

#showPassBtn,
#showPassBtnLog {
    background-color: transparent;
    width: 10%;
    height: 100%;
}

#show,
#show2,
#showLog {
    background-image: url(img/eye-closed-svgrepo-com\ \(1\).svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 100%;
    height: 100%;
    display: none;
}

#hide,
#hide2,
#hideLog {
    background-image: url(img/eye-open-svgrepo-com\ \(1\).svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}

#firstNameError,
#lastNameError,
#emailUpError,
#passwordUpError,
#comPasswordUpError,
#passwordError,
#emailError {
    width: 100%;
    height: 10px;
    color: rgb(255, 30, 0);
    font-size: small;
    font-weight: 600;
    font-style: italic;
}

.socialBtnG:active, 
.socialBtnF:active, 
.socialBtnX:active{
    box-shadow: none;
    scale: 0,7;

}
.socialBtnG, 
.socialBtnF, 
.socialBtnX{

    width: 10%;
    height: 90%;
    background-color:#5e5d5ca8 ;
    border: none;
    box-shadow: 5px 3px 5px rgb(87, 86, 86);
    border-radius: 10px;
    background-image: url(img/google-svgrepo-com\ \(1\).svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.socialBtnF{
    background-image: url(img/facebook-1-svgrepo-com.svg);
}
.socialBtnX{
    background-size: 45%;
    background-image: url(img/svgexport-1.svg);
}


.socialBtnCon{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    /* background-color: aliceblue; */

}
#throwError{
    color: rgb(255, 30, 0);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 15px;
    font-style: italic;
}

#con {
    transition: 1s;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    position: absolute;
    top: 0px;
    display: none;
}

#house {
    background-color: gray;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rotate {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    animation: rotateDiv 1.4s infinite linear;
    gap: 5px;
    
}

.spaned1 {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;

}

@keyframes rotateDiv {
    0% {
        rotate: 0deg;
        scale: 1.2;
    }

    100% {
        rotate: 360deg;
        scale: 0.5;
    } 

 } 


@media screen and  (max-width: 576px) { 
    form{
        padding: 0px 30px;
        margin-top: 50px;
    }

    .socialBtnG:active, 
.socialBtnF:active, 
.socialBtnX:active,
.socialBtnG:hover, 
.socialBtnF:hover, 
.socialBtnX:hover{
    box-shadow: none;
    scale: 0,9;

}
.socialBtnG, 
.socialBtnF, 
.socialBtnX{

    width: 15%;
    background-color:transparent;
    border: none;
    box-shadow: 5px 3px 5px rgb(87, 86, 86);
    height: 90%;
    border: 1px solid #5e5d5ca8;
}


.socialBtnF{
    background-image: url(img/facebook-1-svgrepo-com.svg);
}
.socialBtnX{
    background-image: url(img/svgexport-1.svg);
}

.logText h1{
    font-size: 30px;
    font-weight: 700;
}

.logText{
    position: relative;
    top: -30px;
}

.orDiv {
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 0px;
    padding: 0px 1px;
}

.hrDiv {
    width: 20%;
}

.signUpBtn:hover,
.signInBtn:hover {
    background-color: #ee5e20e1;
    color: whitesmoke;
    border: none;
    scale: 0.9;
}

 }